<p>
  <h2><%= @question.name %></h2>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.try(:name) %>
  <% unless current_user.id == @question.user.id %>
    <%= form_with(url: follow_user_path(@question, @user), local: true) do |form| %>
      <span class="actions">
        <%= form.submit "Follow User", class: "follow_user" %>
      </span>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @question.topic.try(:name) %>
  <%= form_with(url: follow_topic_path(@question, @topic), local: true) do |form| %>
    <span class="actions">
      <%= form.submit "Follow Topic", class: "follow_topic" %>
    </span>
  <% end %>
</p>

<% if current_user.id == @question.user.id %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Back', root_path %>
